@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="landing">
   <div class="wrapper">
       <h1>DuelSys Inc. welcomes you!</h1>
       @if (HttpContext.Session.GetLoggedUser() != null)
       {
            <a asp-page="/Auth/Logout" class="button-white">Log out</a>
       }
       else
       {
            <a asp-page="/Auth/Login" class="button-black">Log in</a>
       }
   </div>
</section>