@page
@model DuelSysWeb.Pages.ProfileModel
@{
}
<div class="wrapper">
                <div class="content-header">
                    <h2>My profile</h2>
                </div>
                <div class="profile">
                    <div class="pfp">
                        <div class="media">
                            <img src="~/images/pfp.png" alt="">
                        </div>
                    </div>
                    <div class="row"><h3>Hans Olivera</h3></div>
                    <div class="row"><h3>* You are a staff member *</h3></div>
                    <div class="row33">
                        <h3>Info:</h3>
                        <p>Email: HansO@gmail.com</p>
                        <p>Address: somewhere in eindhoven</p>
                        <p><span class="green">Won games</span>: 3</p>
                        <p><span class="red">Lost games</span>: 1</p>
                    </div>
                    <div class="row33">
                        <h3>Tournament participation</h3>
                        <div class="game">
                            <div class="game-players">
                                <a href="#">Eindhoven annual badminton tournament</a>
                                <p>1st place</p>
                            </div>
                        </div>
                        <div class="game">
                            <div class="game-players">
                                <a href="#">Amsterdam playoffs</a>
                                <p>2nd place</p>
                            </div>
                        </div>
                    </div>
                    <div class="row33">
                        <h3>Games played</h3>
                        <div class="game">
                            <div class="game-players">
                                <h3>Hans Olivera</h3>
                                <p>VS</p>
                                <h3>Samiye Iset</h3>
                            </div>
                            <div class="game-date">
                                <p><span class="blue">3.5.2022</span></p>
                            </div>
                            <div class="game-results">
                                <p>21 - 23</p>
                            </div>
                        </div>
                        <div class="game">
                            <div class="game-players">
                                <h3>Hans Olivera</h3>
                                <p>VS</p>
                                <h3>Kriemhilde Raju</h3>
                            </div>
                            <div class="game-date">
                                <p><span class="blue">5.5.2022</span></p>
                            </div>
                            <div class="game-results">
                                <p>21 - 7</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>