@page
@model DuelSysWeb.Pages.Auth.RegisterModel
@{
}

 <div class="wrapper">
     <form method="post" class="with-legend">
         <fieldset>
             <legend>Register</legend> 
             <div class="form-content">
                 <div class="field">
                     <input type="text" asp-for="user.Username">
                     <label asp-for="user.Username">Username</label>
                 </div>
                 <div class="field">
                     <input type="password" asp-for="user.Password">
                     <label asp-for="user.Username">Password</label>
                 </div>
                 <div class="field">
                     <input type="email" asp-for="user.Email">
                     <label asp-for="user.Email">Email</label>
                 </div>
                 <div class="field">
                     <input type="text" asp-for="user.Address">
                     <label asp-for="user.Address">Address</label>
                 </div>
                 <div class="field">
                     <input type="text" asp-for="user.Firstname">
                     <label asp-for="user.Firstname">First name</label>
                 </div>
                 <div class="field">
                     <input type="text" asp-for="user.Lastname">
                     <label asp-for="user.Lastname">Last name</label>
                 </div>
                 <div class="field-submit">
                     <button type="submit">Register</button>
                 </div>
             </div>
         </fieldset>
     </form>
</div>