@using BusinessLayer.models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DuelSysWeb</title>
    <link rel="stylesheet" href="~/css/reset.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/header.css"/>
    <link rel="stylesheet" href="~/css/footer.css"/>
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="https://kit.fontawesome.com/8604df3c08.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="site">
        <header>
            <div class="wrapper">
                <a class="logo" asp-page="/Index"><img src="~/images/logo.png" alt=""></a>
                @if (Context.Session.GetLoggedUser() != null)
                {
                    <p class="welcome">
                        @Context.Session.GetLoggedUser().Firstname
                    </p>
                }
                

                <nav>
                    <ul>
                        <li>
                            <a asp-page="/Tournaments/ViewTournaments" asp-route-status="Pending">Tournaments</a>
                        </li>
                        @if (Context.Session.GetLoggedUser() != null)
                        {
                            <li>
                                <a asp-page="/Profile">My profile</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-page="/Auth/Register">Sign up</a>
                            </li>   
                        }

                    </ul>
                </nav>
            </div>
        </header>
    <main>
        @RenderBody()
    </main>

     <footer>
            <div class="wrapper">
                <div class="footer-content">
                    <p>DyelSys</p>
                    <p>Copyright © 2022 - DyelSys Inc.</p>
                </div>
                <div class="footer-content right">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-gitlab"></i></a>
                    <a href=""><i class="fab fa-instagram-square"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>