@page
@model DuelSysWeb.Pages.Tournament.ViewTournamentsModel
@{
}

<div class="wrapper">
    <div class="content-header">
        <h2>Tournaments</h2>
        <div class="sort-links">
            <a href="#" class="active">Pending</a>
            <a href="#">Ongoing</a>
            <a href="#">Ended</a>
        </div>
    </div>
    <div class="tournaments">
        <div class="tournament-card">
            <div class="tournament-card-header">
                <a href="#">Eindhoven annual badminton tournament</a>
            </div>
            <div class="tournament-card-content">
                <div class="tournament-card-desc desc-border-bottom">
                    <h3>
                        <span class="green">Badminton</span>        
                    </h3>
                </div>
                <div class="tournament-card-desc desc-border-bottom">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam quis quod consequuntur necessitatibus officia at. Sed maxime ex cum doloribus rerum veritatis, iusto ut quam provident corrupti, sunt dignissimos? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus assumenda repellat eaque doloremque placeat eum magni autem tenetur tempore quidem illum laboriosam, commodi sunt delectus officiis? Explicabo quibusdam necessitatibus incidunt!
                    </p>
                </div>
                <div class="tournament-card-desc desc-border-bottom">
                    <div class="desc-align-left">
                        <p>Players: Min. 2 Max 4</p>
                    </div>
                    <div class="desc-align-right">
                        <p>
                            Location: Eindhoven
                        </p>      
                    </div>
                </div>
                <div class="tournament-card-desc">
                    <div class="desc-align-left">
                        <p>Tournament system: Round robin</p>
                    </div>
                    <div class="desc-align-right">
                        <p class="active">
                            1.5.2022 → 15.5.2022
                        </p>    
                    </div>
                </div>
            </div>
        </div>

        <div class="tournament-card">
            <div class="tournament-card-header">
                <a href="#">Utrecht champion league</a>
            </div>
            <div class="tournament-card-content">
                <div class="tournament-card-desc desc-border-bottom">
                    <h3>
                        <span class="green">Badminton</span> 
                    </h3>
                </div>
                <div class="tournament-card-desc desc-border-bottom">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam quis quod consequuntur necessitatibus officia at. Sed maxime ex cum doloribus rerum veritatis, iusto ut quam provident corrupti, sunt dignissimos? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus assumenda repellat eaque doloremque placeat eum magni autem tenetur tempore quidem illum laboriosam, commodi sunt delectus officiis? Explicabo quibusdam necessitatibus incidunt!
                    </p>
                </div>
                <div class="tournament-card-desc desc-border-bottom">
                    <div class="desc-align-left">
                        <p>Players: Min. 4 Max 8</p>
                    </div>
                    <div class="desc-align-right">
                        <p>
                            Location: Utrecht
                        </p>      
                    </div>
                </div>
                <div class="tournament-card-desc">
                    <div class="desc-align-left">
                        <p>Tournament system: Single elimination</p>
                    </div>
                    <div class="desc-align-right">
                        <p class="active">
                            4.5.2022 → 12.5.2022
                        </p>    
                    </div>
                </div>
            </div>
        </div>

        <div class="tournament-card">
            <div class="tournament-card-header">
                <a href="#">Amsterdam playoffs</a>
            </div>
            <div class="tournament-card-content">
                <div class="tournament-card-desc desc-border-bottom">
                    <h3>
                        <span class="green">Badminton</span> 
                    </h3>
                </div>
                <div class="tournament-card-desc desc-border-bottom">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam quis quod consequuntur necessitatibus officia at. Sed maxime ex cum doloribus rerum veritatis, iusto ut quam provident corrupti, sunt dignissimos? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus assumenda repellat eaque doloremque placeat eum magni autem tenetur tempore quidem illum laboriosam, commodi sunt delectus officiis? Explicabo quibusdam necessitatibus incidunt!
                    </p>
                </div>
                <div class="tournament-card-desc desc-border-bottom">
                    <div class="desc-align-left">
                        <p>Players: Min. 4 Max 12</p>
                    </div>
                    <div class="desc-align-right">
                        <p>
                            Location: Amsterdam
                        </p>      
                    </div>
                </div>
                <div class="tournament-card-desc">
                    <div class="desc-align-left">
                        <p>Tournament system: Single elimination</p>
                    </div>
                    <div class="desc-align-right">
                        <p class="active">
                            22.5.2022 → 29.5.2022
                        </p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="#">Load more...</a>
    </div>
</div>